body{ 
  margin: 0;
}

header{
  padding: 20px 0;
  background: #007765;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
}

.container {
  width: 1219px;
  margin: 0 auto;
  padding: 0 55px;
}

.head{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav{
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;  
}

ul {
  list-style: none; /* Убираем маркеры */
  margin: 0; padding: 0; /* Обнуляем все отступы */
  overflow: hidden; /* Отменяем обтекание */
}

li {
  display: inline;
}

.li1:before { 
  content: "|";
  padding: 0 10px;
  color: white;
}

.pipernet {
    margin-top: 89px;
    padding: 160px 0;
    background-image: url(img/back.svg);
    background-size: cover;
}

h1{
    color: #fff;
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}

.problem{
    background: #eee;
    background-size: cover;
    padding: 24px 0 92px 0;
}

.problem_content{
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.problem_content h2{
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.hero {
    padding: 128px 0;
    background-image: url(img/back1.png);
    background-size: cover;
}
  
.hero_message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  white-space: pre;
}

.coin{
    padding: 128px 0;
    padding: 24px 0 92px 0;
}

.coin_content h2{
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
}

.ppc{
  float: left;
  margin: 0px 48px;
  padding: 0;
}

.coin_content{
    font-family: "Roboto", "Helvetica Nue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    padding: 0 45px;
}

.team{
    background: #eee;
    background-size: cover;
    padding: 24px 0 92px 0;
}

.team_content {
  color: #007765;
  font-family: "Roboto", "Helvetica Nue", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: normal;
}

figure {
  display: inline-block;
  width: 283px;
  margin: 30px;
}

.team_content h2 {
  font-size: 64px;
  line-height: 75px;
}

.name {
  font-weight: bold;
  font-size: 24px;
}

.position {
  color: black;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}

footer {
  background: #333;
  background-size: 100%;
  padding: 48px 0 64px 0;
}

footer p{
  font-family: "Roboto", "Helvetica Nue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  white-space: pre;
}
